.about-page {
    position: relative;
    top: 5rem;
    width: 100vw;
    height: 28rem;
    margin-bottom: 60rem;
}

#nate {
    margin-right: 1rem;
}

.intro-section {
    margin-left: 5rem;
}

.company-info {
    background-image: url("../assets/rl-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: 5rem;
    margin-top: -.9rem;
    background-color: rgba(14, 14, 14, .8);;
}

.background-black {
    height: 28rem;
    background-color: rgba(14, 14, 14, .8);
}

.company-info h2 {
    position: relative;
    top: 3rem;
    margin-left: 2rem;
}

.company-info p {
    position: relative;
    top: 2rem;
    margin-left: 4rem;
}

.founders-section {
    height: 26rem;
    margin-top: 3rem;
    padding: .2rem;
    background-color: var(--bg-secondary);
}

#zelos-about-logo {
    position: absolute;
    margin-top: -8rem;
    margin-left: 50rem;
}

.about-page h2 {
    font-size: 1rem;
}

.about-page h1 {
    font-size: 4rem;
}

.about-page h4 {
    width: 40rem;
    position: relative;
    top: -5rem;
    left: 4rem;
}

.business {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-secondary);
}

.people {
    font-size: 5px;
    margin: 1rem;
    background-color: var(--bg-primary);
    width: 20rem;
    padding: 1rem;
}

.headshot {
    position: relative;
    bottom: 1rem;
}

#current-games {
    line-height: normal;
}

#founders-text {
    text-align: center;
    margin-top: 3rem;
}

#about-zelos-text {
    margin-top: 10rem;
}

.games {
    margin-left: 2rem;
}

#mailing {
    margin-left: 2rem;
}

#contact-about {
    margin-left: 2rem;
}

@media only screen and (max-width: 1050px) {

    .company-info {
        margin-top: 5rem;
    }

    .people {
        font-size: 10px;
    }
}

@media only screen and (max-width: 800px) {


    .company-info {
        margin-top: 5rem;
    }

    .business {
        justify-content: left;
        overflow: auto;
    }
}

@media only screen and (max-width: 752px) {
    .about-page h4 {
        width: 20rem;
    }
    .about-page{
        height: 70rem;
    }
}

@media only screen and (max-width: 500px) {

    .about-page h1 {
        font-size: 20px;
    }

    .business {
        margin-left: -5rem;
        margin-right: -5rem;
        right: 5rem;
    }

    .about-page h4 {
        font-size: 12px;
        width: 20rem;
    }

    .about-page{
        height: 40rem;
    }

    #about-zelos-text{
        margin-top: 1rem;
        margin-left: 2rem;
    }

    #what-is-zelos{
        position: relative;
        right: 6rem;
    }

    #founders-text{
        position: relative;
        right: 6rem;
        margin-top: 3rem;
    }

    .about-page p {
        line-height: 1;
    }
}


