.about-page {
    position: relative;
    top: 15vh;
    width: 100vw;
    max-width: 100vw;
}

.people:last-child {
    margin-right: 2vw;
}

.intro-section {
    height: 80vh;
    margin-left: 5vw;
}

.company-info {
    background-image: url("../assets/rl-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(14, 14, 14, .8);
    height:62vh;
    margin-top: -2vh;
}

.background-black {
    height:62vh;
    background-color: rgba(14, 14, 14, .8);
}

.company-info h2 {
    position: relative;
    top: 3vh;
    margin-left: 2vw;
}

.company-info p {
    position: relative;
    top: 2vh;
    margin-left: 4vw;
}

.founders-section {
    height: 60vh;
    padding: 3.2vw;
    background-color: var(--bg-secondary);
}

#zelos-about-logo {
    position: absolute;
    margin-top: -14vh;
    margin-left: 58vw;
    height: 38vh;
    width: 28vw;
}

.about-page h2 {
    font-size: 1vw;
}

.about-page h1 {
    font-size: 4vw;
}

.about-page h4 {
    width: 40vw;
    position: relative;
    top: -5vh;
    left: 4vw;
}

.business {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-secondary);
}

.people {
    font-size: 5px;
    margin: 1vw;
    background-color: var(--bg-primary);
    width: 20vw;
    padding: 1vw;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    border-radius: 4.5px;
}

.headshot {
    position: relative;
    bottom: 1rem;
}

#current-games {
    line-height: normal;
}

#founders-text {
    text-align: center;
    margin-top: 3rem;
}

#about-zelos-text {
    margin-top: 10rem;
}

.games {
    margin-left: 2rem;
}

.game-tag:first-child {
    margin-top: 6vh;
}

.email-tag {
    margin-top: 4vh;
}

#mailing {
    margin-left: 2vw;
}

#contact-about {
    margin-left: 2vw;
}

.contact-info{
    margin-top: 1vh;
}

@media only screen and (max-width: 700px) { 

    .about-page {
        overflow: hidden;
    }

    #zelos-about-logo {
        height: 20vh;
        width: 25vh;
        top: 15vh;
        right: 25vw;
    }

    #what-is-zelos {
        margin-top: 25vh;
        width: 100vw;
        font-size: 5vh;
    }

    #about-zelos-text {
        width: 80vw;
        margin-top: 10vh;
        line-height: 2;
    }

    #founders-text {
        margin-top: 0;
        font-size: 5vh;
    }

    .founders-section {
        height: 180vh;
        width: 100vw;
        margin: 0 auto;
    }
    
    .business {
        flex-wrap: wrap;
    }

    .people {
        margin-top: 2vh;
        width: 80vw;
    }

    .about-page h2 {
        font-size: 5vw;
    }
    
    .about-page h1 {
        font-size: 4vw;
    }

    .company-info {
        background-image: url("../assets/mobile-about-page-wallpaper.jpg");
        background-size: contain;
        width: 100vw;
        height: 90vh;
        margin-bottom: 5vh;
        margin: 0 auto;
    }

    .background-black {
        height: 90vh;
        background-color: rgba(14, 14, 14, .4);

    }

}

/* @media only screen and (max-width: 1050px) {

    .company-info {
        margin-top: 5rem;
    }

    .people {
        font-size: 10px;
    }
}

@media only screen and (max-width: 800px) {


    .company-info {
        margin-top: 5rem;
    }

    .business {
        justify-content: left;
        overflow: auto;
    }
}

@media only screen and (max-width: 752px) {
    .about-page h4 {
        width: 20rem;
    }
    .about-page{
        height: 70rem;
    }
}

@media only screen and (max-width: 500px) {

    .about-page h1 {
        font-size: 20px;
    }

    .business {
        margin-left: -5rem;
        margin-right: -5rem;
        right: 5rem;
    }

    .about-page h4 {
        font-size: 12px;
        width: 20rem;
    }

    .about-page{
        height: 40rem;
    }

    #about-zelos-text{
        margin-top: 1rem;
        margin-left: 2rem;
    }

    #what-is-zelos{
        position: relative;
        right: 6rem;
    }

    #founders-text{
        position: relative;
        right: 6rem;
        margin-top: 3rem;
    }

    .about-page p {
        line-height: 1;
    }
} */


