

.footer {
  font-size: small;
  line-height: 1.3rem;
  margin-top: 5rem;
  background-color: var(--bg-primary);
  height: 30vh;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
  
#zelos-footer-logo {
  margin-top: -8rem;
}
  
.footer p:hover {
  cursor: pointer;
  color: var(--text-secondary);
}
