
.footer {
  font-size: small;
  line-height: 1.3;
  margin-top: 5vh;
  background-color: var(--bg-primary);
  height: 30vh;
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;
  border-top: 1px solid white;
}
  
#zelos-footer-logo {
  margin-top: -8vh;
}
  
.footer p:hover {
  cursor: pointer;
  color: var(--text-secondary);
}

@media only screen and (max-width: 1190px) {
  .footer {
      font-size: 10px
  }
}

@media only screen and (max-width: 1050px){
  #zelos-footer-logo{
    height: 20vh;
    width: 40vw;
    margin-top: -3vw;
  }
}

@media only screen and (max-width: 1050px){
  .footer{
    font-size: 8px;
  }
}

@media only screen and (max-width: 950px){
  .team-footer{
      padding-left: 2vw;
      padding-right: 2vw;
  }
}


