
.footer {
  font-size: small;
  line-height: 1.3rem;
  margin-top: 5rem;
  background-color: var(--bg-primary);
  height: 30vh;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
  
#zelos-footer-logo {
  margin-top: -8rem;
}
  
.footer p:hover {
  cursor: pointer;
  color: var(--text-secondary);
}

@media only screen and (max-width: 1190px) {
  .footer {
      font-size: 10px
  }
}

@media only screen and (max-width: 1050px){
  #zelos-footer-logo{
    height: 200px;
    width: 300px;
    margin-top: -3rem;
  }
}

@media only screen and (max-width: 1050px){
  .footer{
    font-size: 8px;
  }
}

@media only screen and (max-width: 950px){
  .team-footer{
      padding-left: 2rem;
      padding-right: 2rem;
  }
}


