.store-page2 {
    background-image: url("../assets/rainbow-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 50.5rem;
    width: 100%;
  }

  .black-background2{
    height: 50.5rem;
    background-color: rgba(14, 14, 14, .8);
}
  
  .featured-items {
    display: flex;
    justify-content: space-evenly;
  }

  .coming-soon-placeholder-2{
    justify-content: center;
    margin-left: 23rem;
    position: relative;
    top:5.5rem;
    right: 12rem;
  }

  #merch-coming-soon {
    align-self: center;
  }
  
  .item-section {
    cursor: pointer;
    height: 14rem;
    background-color: var(--bg-secondary);
  }

  .featured-item {
    line-height: 1;
    background-color: var(--bg-secondary);
    transition: 400ms;
  }

  .purchase-button {
    padding: .3rem;
    margin-right: 2rem;
    margin-left: 15rem;
    text-align: center;
    background-color: var(--bg-primary);
  }

  #zelos-merch-text {
    margin-left: 2rem;
  }
  
  .purchase-button:hover {
    transition: 400ms;
    cursor: pointer;
    background-color: black;
  }
  
  #team-speak {
    text-align: center;
  }
  
  .item-desc {
    text-align: center;
  }
  
