.store-page2 {
  background-image: url("../assets/rainbow-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  width: 100%;
}

.store-page2 h1{
  font-size: 150%;
}

.store-page2 p{
  margin-top: -5%;
}


.store-background-section {
  height: 80%;
  width: 80%;
  background-color: var(--bg-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.95;
  display: grid;
  grid-template-columns: 34% 33% 33%;
  grid-template-areas: "right middle left";
}

.store-background-section h4 {
  background-color: var(--bg-secondary);
  width: 12rem;
  margin: 0 auto;
}

.store-background-section h4:hover {
  cursor: pointer;
}

.item-one {
  width: 100%;
  grid-area: right;
}

.item-two {
  width: 100%;
  grid-area: middle;
}

.item-three {
  width: 100%;
  grid-area: left;
}

.black-background2{
  height: 95vh;
  background-color: rgba(14, 14, 14, .8);
}

@media only screen and (max-width: 800px) { 

  .store-page2 {
    overflow: auto;
  }
  
  .store-background-section {
    height: 80%;
    display: inline-block;
    overflow: auto;
  }
  
}