.team-page {
    position: relative;
    top: 5vh;
    height: auto;
    width: 100%;
    background-color: #111111;
}

.header-banner {
    height: 44vh;
    position: relative;
    margin: 0 auto;
    width: 75vw;
    background-image: url("../assets/r6header.jpg");
    background-repeat: no-repeat;
}

.gradient-div {
    height: 44vh;
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, #111111 95%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    margin: 0 auto;
}

.header-banner2 {
    height: 44vh;
    position: relative;
    margin: 0 auto;
    width: 75vw;
    background-image: url("../assets/rl-banner-website.png");
    background-position: center;
    background-repeat: no-repeat;
}

.header-banner3 {
    height: 44vh;
    position: relative;
    margin: 0 auto;
    width: 75vw;
    background-image: url("../assets/valorant-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.gradient-div2 {
    height: 44vh;
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, #111111 95%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.team-page h1 {
    position: relative;
    font-weight: 900;
    left: 3vw;
    top: 34vh;
}

.team-headshot {
    margin-top: 2.5vw;
}

.r6team {
    margin-left: 5vw;
    margin-right: 5vw;
}

.rlteam {
    margin-left: 5vw;
    margin-right: 5vw;
}

.valorantteam {
    margin-left: 5vw;
    margin-right: 5vw;
}

#player-card {
    background-color: var(--bg-secondary);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    border-radius: 4.5px;
    margin-top: 2vh;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

.players-r6 {
    margin-bottom: 0;
    margin-left: 5vw;
}

.players-valorant {
    margin-bottom: 0;
    margin-left: 5vw;
}

.team-page h2 {
    margin: 1vw;
}

.team-page p {
    margin-bottom: 1vh;
    margin-left: 1vw;
}

.column1 {
    line-height: 2;
    margin-bottom: 1vh;
    width: 14vw;
}

.column2 {
    width: 48rem;
    margin-top: 2vh;
    margin-bottom: 4vh;
    line-height: 1;
    font-size: 15px;
}

.column3 {
    margin-right: 2vw;
    margin-left: 3vw;
}

@media only screen and (max-width: 600px) {


    .header-banner {
        height: 44vh;
        position: relative;
        margin: 0 auto;
        width: 100vw;
    }

    .header-banner2 {
        height: 44vh;
        position: relative;
        margin: 0 auto;
        background-image: url("../assets/rocket-league-mobile-background.jpg");
        width: 100vw;
        background-position: bottom;
        background-size: cover;
    }

    .header-banner3 {
        width: 100vw;
    }
    
    .team-page {
        overflow-x: hidden;
    }

    .gradient-div {
        height: 0;
    }

    #header-game-title {
        position: relative;
        top: 32vh;
        width: 80vw;
        height: 10vh;
        font-size: 4vh;
        line-height: 1;
    }

    #player-card {
        height: 70vh;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        display: grid;
        grid-template-areas: 
        "row-1"
        "row-2";
        grid-template-rows: 20vh 50vh;
    }

    .playerplugs {
        display: flex;
        align-items: center;
        margin-right: 25vw;
        margin-left: 25vw;
    }

    .column1 {
        grid-area: row-1;
        text-align: center;
        width: 90vw;
        align-self: center;
    }

    .column2 {
        grid-area: row-2;
        width: 80vw;
        margin: 5vw;
    }

    

}

/* @media only screen and (max-width: 1560px) {

    .team-page #insta {
        width: 20px;
        height: 20px;
    }

    .team-page #twitter {
        width: 20px;
        height: 20px;
    }

    .team-page #twitch {
        width: 20px;
        height: 20px;
    }

    .team-headshot {
        height: 150px;
        width: 150px;
    }

    .team-page h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1200px) {

    #player-card {
        height: 17rem;
    }

    .team-page p {
        font-size: 12px;
    }

    .team-page h2 {
        font-size: 15px;
    }

    .team-page #insta {
        width: 15px;
        height: 15px;
    }

    .team-page #twitter {
        width: 15px;
        height: 15px;
    }

    .team-page #twitch {
        width: 15px;
        height: 15px;
    }

    .team-headshot {
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 900px) {

    .team-page {
        margin-bottom: 190rem;
    }

    #player-card {
        height: 20rem;
    }

    .team-page p {
        font-size: 10px;
    }

    .team-page h2 {
        font-size: 10px;
    }

    .team-page #insta {
        width: 12px;
        height: 12px;
    }

    .team-page #twitter {
        width: 12px;
        height: 12px;
    }

    .team-page #twitch {
        width: 12px;
        height: 12px;
    }

    .team-headshot {
        height: 75px;
        width: 75px;
    }
} */