.about {
    margin-top: -10rem;
    height: 95vh;
    background: var(--bg-primary);
  }
  
.about h1 {
    position: relative;
    top: 10rem;
    font-size: 4rem;
    margin-top: 10rem;
    width: 50rem;
    margin: 10rem;
  }
  
.about p {
    position: relative;
    top: 12rem;
    font-size: 1rem;
    margin: 0;
    width: 50rem;
    margin: 10rem;
  }
  
.about h2 {
    padding: 1rem;
    background-color: var(--bg-secondary);
    cursor: pointer;
    position: relative;
    top: 12rem;
    width: fit-content;
    margin: 0;
    margin: 10rem;
  }
  