.store-section {
  background-image: url("../assets/rainbow-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;
  width: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.black-background {
  height: 50vh;
  background-color: rgba(14, 14, 14, 0.8);
}

#featured-item-title-text {
  padding-top: 7rem;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
}

#shop-now {
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  background-color: var(--bg-primary);
  width: 20rem;
  border-radius: 4px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-size: 2rem;
  transition: 500ms;
}

#shop-now a {
  text-decoration: none;
  color: var(--text-primary);
}

#shop-now:hover {
  color: var(--text-secondary);
  transform: scale(1.05);
  transition: 500ms;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .store-section {
    background-image: url("../assets/rainbow-mobile.jpg");
    background-size: contain;
    background-position-y: -16vw;
    height: 50vh;
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  }

  #featured-item-title-text {
    margin-top: 0;
  }

  #shop-now {
    font-size: 100%;
  }
}
