.store-section {
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 47.5vh;
  }
  
  .featured-items {
    display: flex;
    justify-content: space-evenly;
  }
  
  .item {
    padding: 1rem;
    cursor: pointer;
    height: 14rem;
    background-color: var(--bg-primary);
  }
  
  .item:hover {
    background-color: black;
  }
  
  #team-speak {
    text-align: center;
  }
  
  .item-desc {
    text-align: center;
    margin-top: -2rem;
  }
  