.sponsors-section {
  background-color: var(--bg-secondary);
  height: 40vh;
  text-align: center;
  width: 100%;
}

.sponsors {
  display: flex;
  justify-content: space-evenly;
}

.sponsor {
  z-index: 1;
  padding: 2vw;
  position: relative;
  margin: 1vw;
  background-color: var(--bg-primary);
  cursor: pointer;
}

#sponsor1 {
  height: 20vh;
  width: 11vw;
  background-color: var(--bg-primary);
  padding: 1vw;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 4.5px;
  transition: 400ms;
}

#sponsor1:hover {
  filter: brightness(50%);
  transition: 400ms;
}

#sponsor2 {
  height: 20vh;
  width: 11vw;
  background-color: var(--bg-primary);
  padding: 1vw;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 4.5px;
  transition: 400ms;
}

#sponsor2:hover {
  filter: brightness(50%);
  transition: 400ms;
}

#sponsor3 {
  height: 20vh;
  width: 11vw;
  background-color: var(--bg-primary);
  padding: 1vw;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 4.5px;
}

@media only screen and (max-width: 600px) {
  #sponsor1 {
    height: 12vh;
    width: 25vw;
  }

  #sponsor2 {
    height: 12vh;
    width: 25vw;
  }

  #sponsor3 {
    height: 12vh;
    width: 25vw;
  }
}
