.teams {
  background-color: var(--bg-primary);
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.team-r6 {
  background-image: url("../assets/dims.jfif");
  background-attachment: fixed;
  background-size: cover;
  width: 33vw;
  margin: 2vw;
  text-align: center;
  background-color: var(--bg-secondary);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);

}

.team-rl {
  background-image: url("../assets/RocketLeague.jpg");
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  line-height: 1;
  width: 33vw;
  margin: 2vw;
  text-align: center;
  background-color: var(--bg-secondary);
}

.rl {
  font-size: 2vh;
  z-index: 0;
  height: 30vh;
  width: 25vw;
  margin: 0 auto;
}

.r6 {
  font-size: 2vh;
  z-index: 0;
  height: 30vh;
  width: 25vw;
  margin: 0 auto;
  line-height: .8;
}

.rl-black-background {
  position: relative;
  left: -4vw;
  right: 0;
  background-color: rgba(14, 14, 14, .8);
  height: 72vh;
  width: 33vw;
}

.r6-black-background {
  position: relative;
  left: -4vw;
  right: 0;
  background-color: rgba(14, 14, 14, .8);
  height: 72vh;
  width: 33vw;
}

#teams-text {
  text-align: center;
  margin: 1rem;
}

.player {
  font-weight: 600;
}

.player:hover {
  cursor: pointer;
  color: goldenrod;
}

#captain {
  color: hsla(360, 100%, 40%, 1);
}
