.teams {
    background-color: var(--bg-primary);
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .team-r6 {
    background-image: url("../assets/dims.jfif");
    background-attachment: fixed;
    background-size: cover;
    width: 43rem;
    margin: 2rem;
    text-align: center;
    background-color: var(--bg-secondary)
  }
  
  .team-rl {
    background-image: url("../assets/RocketLeague.jpg");
    background-attachment: fixed;
    background-size: cover;

    line-height: 1;
    width: 43rem;
    margin: 2rem;
    text-align: center;
    background-color: var(--bg-secondary);
  }
  
  .rl {
    z-index: 1;
    background-color: rgba(14, 14, 14, .8);
    height: 42.5rem;
    width: 41rem;
    padding: 1rem;
  }
  
  .r6 {
    line-height: 1;
    z-index: 1;
    background-color: rgba(14, 14, 14, .8);
    height: 42.5rem;
    width: 41rem;
    padding: 1rem;
  }
  
  #teams-text {
    text-align: center;
    margin: 1rem;
  }

  .player {
    font-weight: 600;
  }

  .player:hover {
    cursor: pointer;
    color: goldenrod;
  }

  #captain {
    color: hsla(360, 100%, 40%, 1);
  }
