.teams {
  background-color: var(--bg-primary);
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.team-r6 {
  background-image: url("../assets/dims.jfif");
  background-attachment: fixed;
  background-size: cover;
  width: 30vw;
  margin: 2vw;
  text-align: center;
  background-color: var(--bg-secondary);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);

}

.team-rl {
  background-image: url("../assets/RocketLeague.jpg");
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  line-height: 1;
  width: 30vw;
  margin: 2vw;
  text-align: center;
  background-color: var(--bg-secondary);
}

.team-valorant {
  background-image: url("../assets/valorant-team-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-x: 33vw;
  background-position-y: 0;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  line-height: 1;
  width: 30vw;
  margin: 2vw;
  text-align: center;
  background-color: var(--bg-secondary);
}

.rl {
  font-size: 2vh;
  z-index: 0;
  height: 30vh;
  width: 30vw;
  margin: 0 auto;
}

.r6 {
  font-size: 2vh;
  overflow-wrap: normal;
  z-index: 0;
  height: 30vh;
  width: 30vw;
  margin: 0 auto;
  line-height: .8;
}

.valorant {
  font-size: 1.8vh;
  z-index: 0;
  height: 30vh;
  width: 30vw;
  margin: 0 auto;
  line-height: .8;
}

.rl-black-background {
  position: relative;
  background-color: rgba(14, 14, 14, .8);
  height: 73.2vh;
  width: 30vw;
}

.r6-black-background {
  position: relative;
  background-color: rgba(14, 14, 14, .8);
  height: 73.2vh;
  width: 30vw;
}

.valorant-black-background {
  position: relative;
  background-color: rgba(14, 14, 14, .8);
  height: 73.2vh;
  width: 30vw;
}

#teams-text {
  text-align: center;
  margin: 1rem;
}

.player {
  font-weight: 600;
}

.player:hover {
  cursor: pointer;
  color: goldenrod;
}

#captain {
  color: hsla(360, 100%, 40%, 1);
}
@media only screen and (max-width: 750px) {
  .teams {
    display: block;
  }

  .team-section-area {
    height: 155vh;
  }
  .team-rl {
    background-size: 100vh;
    width: 98vw;
    margin: 2vw;
    margin-bottom: 5vh;
  }

  .team-valorant {
    background-size: 100vh;
    width: 98vw;
    margin: 2vw;
    background-position-y: 33vh;
    background-position-x: -50vw;
    margin-bottom: 5vh;
  }

  .rl {
    font-size: 2vh;
    z-index: 0;
    height: 40vh;
    width: 25vw;
    margin: 0 auto;
  }

  .valorant {
    font-size: 2vh;
    z-index: 0;
    height: 40vh;
    width: 25vw;
    margin: 0 auto;
  }
  
  .rl-black-background {
    position: relative;
    top: -.5vh;
    left: -38vw;
    background-color: rgba(14, 14, 14, .8);
    height: 40.5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  .valorant-black-background {
    position: relative;
    top: 0vh;
    left: -38vw;
    background-color: rgba(14, 14, 14, .8);
    height: 40.5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  #rl {
    align-self: center;
    margin-right: 10vw;
    margin-left: 3vw;
  }

  .player-list-players {
    display: flex;
    margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 5vh;
    font-size: 2vh;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .team-r6 {
    background-size: 100vh;
    width: 98vw;
    margin: 2vw;
    margin-bottom: 5vh;
  }

  .r6 {
    font-size: 2vh;
    z-index: 0;
    height: 50vh;
    width: 25vw;
    margin: 0 auto;
  }

  #r6 {
    align-self: center;
    margin-right: 10vw;
    margin-right: 10vw;
    margin-left: 3vw;
  }

  .r6-black-background {
    position: relative;
    top: -.5vh;
    left: -38vw;
    background-color: rgba(14, 14, 14, .8);
    height: 50.5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

}