.title {
  background-image: url("../assets/Denver_Background.jpg");
  background-size: cover;
  background-attachment: fixed;
  transition: 400ms;
  height: 95vh;
}

.title:hover {
  background-color: var(--bg-primary);
  transition: 400ms;
}

#zelos-title {
  margin-top: 1rem;
  font-size: 4rem;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 28vh;
  margin: 10rem;
}

#zelos-logo {
  margin-bottom: 1rem;
  position: absolute;
  left: 28.5%;
  top: 2.5rem;
}