.title {
  background-image: url("../assets/Denver_Background.jpg");
  background-size: cover;
  background-attachment: fixed;
  transition: 400ms;
  height: 50rem;
  width: 100%;
}

.title-black-tint {
  background-color: rgba(14, 14, 14, .2);
  height: 57.6rem;
  width: 119.4rem;
}

.title:hover {
  background-color: var(--bg-primary);
  transition: 400ms;
}

#zelos-title {
  line-height: 1;
  margin-top: 13rem;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
  top: 28vh;
}

#zelos-logo {
  margin-bottom: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  top: 12rem;
}
