:root {
  font-size: 16px;
  font-family: 'Open Sans';
  color: #ececec;
  --text-primary: #FFFFFF;
  --text-secondary: #b6b6b6;
  --bg-primary: #121212;
  --bg-secondary: #242424;
  --transition-speed: 400ms;
  --body-margins: 10rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
}


/*--------- HEADER ----------*/

header {
  position: fixed;
  z-index: 1;
  opacity: 0.9;
  padding: 1rem;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-secondary);
}

.title-card {
  margin-left: 5rem;
  display:flex;
  justify-content: space-between;
  width: 10rem;
}

.nav {
  margin-right: 5rem;
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition-speed);
}

.title-card > img:hover {
  background-color: var(--bg-primary);
  cursor: pointer;
}

#nav-item{
  transition: 1s;
  padding: 1rem;
}

#nav-item:hover {
  color: var(--text-secondary);
  background-color: var(--bg-primary);
  font-size: large;
  transition: var(--transition-speed);
  cursor: pointer;
} 

/*------- BODY ----------*/
/* SIDEBAR */
/*GOOD LUCK KYRU!*/

.sidebar {
  right: 2rem;
  position: fixed;
  top: 20rem;
  z-index: 1;
}

.dot li {
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size:  2rem;
}


/* TITLE PAGE */

.title {
  background-image: url("../src/assets/Denver_Hue_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  transition: 400ms;
  height: 95vh;
}

.title:hover {
  background-color: var(--bg-primary);
  transition: 400ms;
}

#zelos-title {
  margin-top: 1rem;
  font-size: 4rem;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 28vh;
  margin: 10rem;
}

#zelos-logo {
  margin-bottom: 1rem;
  position: absolute;
  left: 28.5%;
  top: 2.5rem;
}

/* ABOUT */

.about {
  margin-top: -10rem;
  height: 90vh;
  background: var(--bg-secondary);
}


.about h1 {
  position: relative;
  top: 10rem;
  font-size: 4rem;
  margin-top: 10rem;
  width: 50rem;
  margin: 10rem;
}

.about p {
  position: relative;
  top: 12rem;
  font-size: 1rem;
  margin: 0;
  width: 50rem;
  margin: 10rem;
}

.about h2 {
  padding: 1rem;
  background-color: var(--bg-secondary);
  cursor: pointer;
  position: relative;
  top: 12rem;
  width: fit-content;
  margin: 0;
  margin: 10rem;
  transition: var(--transition-speed);
}

.about h2:hover {
  color: var(--text-secondary);
  font-size: 1.75rem;
  transition: var(--transition-speed);
  background-color: var(--bg-primary);
}

/* FEATURED ITEMS */

.featured-items {
  background-color: var(--bg-primary);
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
}

.item {
  padding: 4rem;
  margin: 1rem;
  background-color: var(--bg-secondary)
}


/* SCHEDULE */


.schedule {
  background-color: var(--bg-secondary);
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
}

.events {
  padding: 4rem;
  margin: 1rem;
  background-color: var(--bg-primary)
}

/* TEAMS */

.teams {
  background-color: var(--bg-primary);
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
}

.team {
  padding: 10rem;
    margin: 1rem;
  background-color: var(--bg-secondary)
}

/* SPONSOR */

.sponsors {
  background-color: var(--bg-secondary);
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
}

.sponsor {
  padding: 2rem;
  margin: 1rem;
  background-color: var(--bg-primary)
}

/* ------- FOOTER ------- */

.footer {
  background-color: var(--bg-primary);
  height: 30vh;
  display: flex;
  justify-content: center;
}
